﻿
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Detail Page";
}
@section create {
    <section id="create">
        <div id="not_login_metamask" style="display:none;">
            <text style="font-style:oblique;">
                You is not logged in to MetaMask
            </text>
        </div>
        <div id="login_metamask" >
            
        </div>
        <input type="hidden" id="votedFlg" value="" />
    </section>
}

    <section class="d-pagesContainer d-floatingPage">
        <main class="mdl-layout__content">
            <div class="page-content app-container">
                <div class="mdl-grid">

                </div>
            </div>

           
        </main>
       <style>
            .loader {
                border: 16px solid #f3f3f3; /* Light grey */
                border-top: 16px solid #3498db; /* Blue */
                border-radius: 50%;
                width: 120px;
                height: 120px;
                animation: spin 2s linear infinite;
            }
        </style>
        <div class="loader" style="display:none;margin-left:45%;text-align: center;">
            <p style="margin-top: 30%;">Voting</p>
        </div>
        <div id="allModal"></div>
        
    </section>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/Detail.js"></script>
<script src="~/libs/web3.js"></script>
<link rel="stylesheet" href="~/libs/material-light/material.css">

<script src="~/libs/material-light/material.js"></script>